.introducao {
  max-width: 1200px;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 60px;
  align-items: center;
  justify-items:center;
  
}

.goat {
  display: inline-block;
  padding-left: 10px;
  height: 60px;
}

.introducao span {
  position: relative;
}

.introducao div span:after {
  bottom: 16px;
  right: -9px;
  border-radius: 50%;
  content: "";
  height: 8px;
  width: 8px;
  display: none;
  position: absolute;
  background: linear-gradient(180deg, #032f9c 0%, #5082fe 100%);
}

.introducao h1 {
  font-size: 4rem;
  line-height: 1.125;
  margin-bottom: 30px;
  padding-left: 3rem;
}

.introducao p {
  font-size: 1.5rem;
  color: #525252;
  padding-left: 3rem;
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1 fr 1 fr;
    gap: 40px;
  }

  .introducao h1 {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  .introducao {
    grid-template-columns: 1fr;
  }

  .introducao img {
    display: none;
  }
}

.breno{
  justify-self: left;
}
